<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created for Fando Technologies Ltd. All right reserved!
<%= link_to('FantasyPK', 'http://www.fantasypk.com/') %>
</p>
